 .curriculumlist{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
    
  
     
   /* th{
    border-bottom: 1px solid black;
  } */
  .curriculumbody
  {
    text-align: center;
  }
  .currrow{
    text-align: center;
  }
 
  