.curriculumlist{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
  }
    
  .curriculumtablelist {
   
    width: 800px;
    height: 200px;
  }
    
   /* th{
    border-bottom: 1px solid black;
  } */
  .curriculumbody
  {
    text-align: center;
  }