.adminreq{
    text-align: -webkit-center;
    background-color: #3fdf6f;
    margin-top: 0;
    padding: 20px;
    color: white;
    padding-top:350px;

    
}
.req-add{
    
    background-size: 100% 800px;
    color: rgb(206, 203, 223);
    margin-right: 0px;
    margin-left: 1px;
    margin-bottom: 100px;
    font-size:30px;
    display: flex;
    padding-bottom:200px;
    object-fit: cover;
    background-size:cover; 
}

.req{
    /* //width: 900px; */
	height: 500px;
    background-color: #4e75a1;
    border-radius: 10px;
    border:2px solid white;
    flex-direction: column;
   /* margin: auto; */
    padding: 170px;
    margin-left:1px;
    margin-bottom:500px;
    padding-bottom:600px;
    
}
.addbutton{
    
    margin-top:50px;
    text-align: -webkit-center;
    
}
button{
    background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}