
/* home and nav styles */
body{
  background-color: #f7fafd;
}
.offcanvas-body .nav-item a{
  padding-left: 8px;
}
.offcanvas-body .nav-item a:hover{
  color:#011014
}

 .sectionbody{
  background-color: #ecf5ff;
  margin: 0 auto;
  padding: 10px;
 }

 .card{
  width: 255px;
  float: left;
  margin: 1.2em;
  padding: 5px;
  background-color: #f2f7f8;
 }
 .card .btn{
  color: #fff;
  background-color: #0cbae4;
 }
 /* carousel button */
 .carousel-control-next, .carousel-control-prev{
  width: 10%;
  left:10;
 }
 .carousel-indicators {
  justify-content: right;
 }

 
.footer{
  background-color: #0081a0;
  padding: 35px 0px;
  color: #fff;
}
.footer p, img{
  padding: 5px 0px;
}