container-fluid{
  margin: 0;
  padding: 0;
}
.userbody{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f0f0;  
  }
  body::-webkit-scrollbar{
    display: none;
  }

.navbg{
  background-color: #1E90FF;
  
}
.nav-item a{
  color: #f9f0f0;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: none;
}
.nav-item a:hover{
  color:#042c3e;
  border-radius: 2px;
}
.notifydrop a{
  color:#261e48
}
.notifydrop a:hover{
  color:#FF5D5D;
  
}

 
.userleft{
  min-height: 500px;
  background-color: #f0f0f0;
 }


 .accordion-button{
  background-color: #daf1de;
  color: #f9f0f0;
 }
 .accordion-button:hover{
  background-color: #1E90FF;
  color: #eefed4;
 }


.usercard{
    width: 400px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .notification-bell{
    font-size: 20px;
  }
  
  .btn__badge {
    background: #FF5D5D;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    padding:  3px 10px;
    border-radius: 50%;
  }
  
  .pulse-button {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    -webkit-animation: pulse 1.5s infinite;
  }
  
  .pulse-button:hover {
    -webkit-animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  
  .notification-text{
    font-size: 14px;
    font-weight: bold;
  }
  
  .notification-text span{
    float: right;
  }

  .footeruser{
    text-align: center;
    background-color: #1E90FF;
    color: #f9f0f0;
    margin: 0;
  }
  .footeruser p{
    padding-top: 5px;
  }

  /* course display */
  .userright{
    margin-bottom: 5em;
    display: block;
    min-height: 140px;
  }

.userhead{
    margin-top: 2em;
    font-size:20px;
   }
  /* GENERAL ====== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}
/* single card============================== */
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}
.coursebox{
  width:300px;
  height: 100px;
  float: left;
  margin: 15px;
}
.coursebox h3{
  font-size: 14px;
}
/* course */

/* sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 260px;
  background-color: #f1f1f1;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  padding-left: 30px;
}
 
.sidebar a.active {
  background-color: #1E90FF;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #aee6eb;
  color: #f9fbfb;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* sidebar */
.greenbtn{
  padding-left: 20px;
}
/*file upload page*/
.uploadbox{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fbf9f9fb;
  width: 85%;
  margin: 0 auto;
  padding: 30px;
  margin-top: 2em;
}
.btnupload{
  background-color: #1E90FF;
  border-radius: 3px;
  width: 100px;
  padding: 5px;
  border: none;
  color: #f0f0f0;
}
.btnupload:hover{
  background-color: #1E90FF;
}
.uploadbox p{
  text-align: center;
}